table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 20px 0; 
    margin-bottom: 30px;
  }
  
  th, td {
    padding: 5px; 
    text-align: left;
  }


.logo img {
    height: 123px; 
    margin-right: 30px; /* Space between logo and menu items */
}

.logo-container {
  display: flex;
  align-items: center;
  /*margin-right: auto;  Push everything else to the right */
}

.app-name {
  font-weight: bold;
  margin-left: 5px; 
  font-size: 33px; 
}

nav {
    background-color: #90ee90;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 123px; /* Space between menu items */
    padding: 10px;
}

/* Style for the navigation links */
.nav-links li a {
  font-weight: bold; 
  text-decoration: none; /* Remove underline */
  color: black; 
  padding: 10px; 
  display: inline-block; 
}

nav a:hover {
  color: #305230; /* Darker shade when hovering */
  text-decoration: underline; 
}

.nav-links li.user-info {
  font-weight: bold;
  padding: 10px;
  white-space: nowrap;
  align-items: center;
  display: flex;
    justify-content: center;
}

  