table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 20px 0; 
    margin-bottom: 30px;
  }
  
  th, td {
    padding: 5px; 
    text-align: left;
  }

  .logo img {
    height: 123px; /* You can adjust the size as needed */
    margin-right: 50px; /* Space between logo and menu items */
}

nav {
    background-color: #90ee90;
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 40px; /* Space between menu items */
}

/* Style for the navigation links */
nav a {
  font-weight: bold; 
  text-decoration: none; /* Remove underline */
  color: black; 
  padding: 10px; 
  display: inline-block; 
}

nav a:hover {
  color: #305230; /* Darker shade when hovering */
  text-decoration: underline; 
}

  