table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 20px 0; 
    margin-bottom: 30px;
  }
  
  th, td {
    padding: 5px; 
    text-align: left;
  }

  .logo img {
    height: 123px; /* You can adjust the size as needed */
    margin-right: 50px; /* Space between logo and menu items */
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 40px; /* Space between menu items */
}

/* ... other styles ... */

  