table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 15px 0; /* Adjust the 15px as needed for your design */
  }
  
  th, td {
    padding: 5px; /* Adjust padding as needed */
    text-align: left;
  }
  